@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

h1,h2,h3,h4,h5,h6 {
    font-weight: 100;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
h3,
h4,
h5 {
  margin-top: 5px;
  font-weight: 600;
}

body {
    color: #676a6c;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    background-color: #f3f3f4;
}

.page-content {
    margin-top: 50px;
}

.page-header {
    margin: 0px 0px 0px 0px;
    padding: 8px 0px 8px 0px;
    border: none;
}

.sws-row-hdr {
    padding: 8px 0px 8px 0px;
}
/* Uncomment to center navbar icons
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}
*/

/*
#sws-content {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 0;
    margin-left: 0;
}
*/

.sws-footer {
    margin-top: 10px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #f3f3f4;
}


.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
    background-color: transparent;
}

.navbar-default {
    background-color: #293846;
    color: white;
    border: none;
}

.sws-tool-title {
    font-size: 20px;
    margin-left:4px;
    font-weight: 600;
}

/*.nav a i {*/
.sws-tool-i {
    font-size: 22px;
    min-width: 30px;
    text-align: center;
}

.sws-logo {
    font-size: 24px;
    color: #9ac526;
    font-weight: 600;
}
.sws-logo p,.sws-logo i {
    font-size: 20px;
    padding-left:4px;
    padding-right:4px;
}

.sws-logo .sws-logo-title {
    font-size: 22px;
    color: #f3f3f4;
    margin-left:4px;
}

.sws-logo-xxl {
    font-size: 180px;
    text-align: center;
    width: 100%;
    font-weight: normal;
    color: #c7c7c7;
}
.sws-logo-xxl p,.sws-logo-xxl i {
    font-size: 120px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: normal;
}

.sws-btn-login {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
    width: 100%;
    margin-bottom: 20px;
}

.sws-login-msg {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    font-size: 14px;
    font-weight: 600;
    padding: 2px;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border: 1px solid transparent;
    border-radius: 4px;
}

.sws-btn-login:hover,
.sws-btn-login:focus,
.sws-btn-login:active,
.sws-btn-login.active,
.sws-btn-login:active:focus,
.sws-btn-login:active:hover,
.sws-btn-login.active:hover,
.sws-btn-login.active:focus {
    background-color: #18a689;
    border-color: #18a689;
    color: #FFFFFF;
}


/* standard navbar  */
@media (min-width: 768px) {
    .sws-logo-title {
        display: none;
    }
    .sws-tool-title{
        display: none;
    }
    .sws-tool-i {
        font-size: 30px;
    }
    .sws-logo {
        font-size: 25px;
    }
    .sws-logo p,.sws-logo i {
        font-size: 20px;
    }
    .navbar-brand {
        padding: 18px 0px 0px 4px;
        margin-right: 8px;
    }
}

/* mobile navbar */
@media (max-width: 767px) {
    .navbar-brand {
        display: block;
        padding: 12px 0px 0px 4px;
        margin-right: 8px;
    }
}

/* Adjust navbar height when collapsed */
.navbar-fixed-top .navbar-collapse {
    max-height: 460px;
}

.no-margins {
    margin: 0 !important;
}

.cursor-pointer{
    cursor: pointer;
}


.strong{
    font-weight: bold;
}

.sws-col-h150{
    height: 150px;
}

.swsbox {
    clear: both;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 0;
}
.swsbox:after,
.swsbox:before {
    display: table;
}
.swsbox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid solid;
    border-width: 1px 0 1px;
    color: inherit;
    margin-bottom: 0px;
    padding: 5px 10px 5px 10px;
}
.swsbox-title h5 {
    margin-bottom: 0px;
}

.swsbox-extra-padding {
    padding: 10px;
}

.swsbox-footer {
    color: inherit;
    border-top: 1px solid #e7eaec;
    font-size: 90%;
    background: #ffffff;
    padding: 10px 15px;
}
.stat-percent {
    float: right;
}
.float-e-margins .btn {
    margin-bottom: 5px;
}

.swsbox-content {
    position: relative;
    overflow: hidden;
    display: inline-block;
    background-color: #ffffff;
    width: 100%;
    color: inherit;
    padding: 10px 10px 10px 10px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.swsbox-values{
    position: relative;
}

.swsbox-trend{
    display: inline-block;
    width: 100%;
    text-align: right;
    padding-right: 18px;
    position: absolute;
    bottom: 5px;
    font-size: 48px;
    color: #e7eaec;
}

.swsbox-trend-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.swsbox-trend-container svg {
    display: inline-block;
    position: absolute;
    top: 75%;
    -webkit-transform: translateY(-75%);
    -ms-transform: translateY(-75%);
    transform: translateY(-75%);
    right: 0;
}

.swsbox-collapse2 {
    padding-right: 10px;
}

.swsbox-info {
    /*color: #8a6d3b; */
    color: #31708f;
}

.swsbox-info .swsbox-content, .swsbox-info .swsbox-title {
    /*background-color: #fcf8e3;*/
    background-color: #d9edf7;
}

.swsbox-info .swsbox-content{
    /*border-color: #faebcc;*/
    border-color: #bce8f1;

}

.swsbox-info-subtitle {
    font-size: 16px;
    font-weight: 600;
}


.sws-apiopsel {
    margin-top: 25px;
    margin-bottom: 10px;
}

.sws-apiopsel .sws-chosen-select {
    width: 100%;
}

/* DATATABLES */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}
.dataTables_wrapper {
    padding-bottom: 30px;
}
.dataTables_length {
    float: left;
}
.dataTables_filter label {
    margin-right: 5px;
}
.html5buttons {
    float: right;
}
.html5buttons a {
    border: 1px solid #e7eaec;
    background: #fff;
    color: #676a6c;
    box-shadow: none;
    padding: 6px 8px;
    font-size: 12px;
}
.html5buttons a:hover,
.html5buttons a:focus:active {
    background-color: #eee;
    color: inherit;
    border-color: #d2d2d2;
}
div.dt-button-info {
    z-index: 100;
}
@media (max-width: 768px) {
    .html5buttons {
        float: none;
        margin-top: 10px;
    }
    .dataTables_length {
        float: none;
    }
}
.label {
    background-color: #d1dade;
    color: #5e5e5e;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: 600;
    padding: 3px 8px;
    text-shadow: none;
}
.badge {
    background-color: #d1dade;
    color: #5e5e5e;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: 600;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    text-shadow: none;
}
.label-primary,
.badge-primary {
    background-color: #1ab394;
    color: #FFFFFF;
}
.label-success,
.badge-success {
    background-color: #1c84c6;
    color: #FFFFFF;
}
.label-warning,
.badge-warning {
    background-color: #f8ac59;
    color: #FFFFFF;
}
.label-warning-light,
.badge-warning-light {
    background-color: #f8ac59;
    color: #ffffff;
}
.label-danger,
.badge-danger {
    background-color: #ed5565;
    color: #FFFFFF;
}
.label-info,
.badge-info {
    background-color: #23c6c8;
    color: #FFFFFF;
}
.label-inverse,
.badge-inverse {
    background-color: #262626;
    color: #FFFFFF;
}
.label-white,
.badge-white {
    background-color: #FFFFFF;
    color: #5E5E5E;
}
.label-disable,
.badge-disable {
    background-color: #2A2E36;
    color: #8B91A0;
}
.label-transparent,
.badge-transparent{
    background-color: transparent;
    color: #FFFFFF;
}
.label-medium {
    font-size: 12px;
}
.label-large {
    font-size: 14px;
}
.label-xlarge {
    font-size: 18px;
}
.label-jumbo {
    font-size: 20px;
}
.badge-table {
    font-size: 12px;
}

.color-primary {
    color: #1ab394;
}
.color-success {
    color: #1c84c6;
}
.color-warning {
    color: #f8ac59;
}
.color-warning-light {
    color: #f8ac59;
}
.color-danger {
    color: #ed5565;
}
.color-info {
    color: #23c6c8;
}
.color-inverse {
    color: #262626;
}
.color-white {
    color: #FFFFFF;
}
.color-disable {
    color: #2A2E36;
}

.color-palette1 {
    color: #1f77b4;
}
.color-palette2 {
    color: #aec7e8;
}
.color-palette3 {
    color: #ff7f0e;
}
.color-palette4 {
    color: #ffbb78;
}

/* BACKGROUNDS */
.gray-bg,
.bg-muted {
    background-color: #f3f3f4;
}
.white-bg {
    background-color: #ffffff;
}
.blue-bg,
.bg-success {
    background-color: #1c84c6;
    color: #ffffff;
}
.navy-bg,
.bg-primary {
    background-color: #1ab394;
    color: #ffffff;
}
.lazur-bg,
.bg-info {
    background-color: #23c6c8;
    color: #ffffff;
}
.yellow-bg,
.bg-warning {
    background-color: #f8ac59;
    color: #ffffff;
}
.red-bg,
.bg-danger {
    background-color: #ed5565;
    color: #ffffff;
}
.black-bg {
    background-color: #262626;
}


.alert {
    margin-bottom: 0px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

pre {
    border: none;
    background-color: transparent;
}

.hljs {
    background-color: transparent;
}

.sws-nav-ctrls {
    text-align: right;
    font-size: 11px;
}

.sws-logout-ctrls {
    min-width: 30px;
    text-align: center;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.sws-time-group span {
    padding-left: 5px;
}

.sws-refresh-group {
    padding-top: 10px;
    padding-bottom: 4px;
}

.sws-refresh {
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
    font-size: 11px;
}

/* d3 and cubism */


.axis {
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    font-size: 10px;
}
/*
.axis svg {
    padding: 0;
    margin: auto;
    display: block;
}
*/
.axis text {
    -webkit-transition: fill-opacity 250ms linear;
}

.axis path {
    display: none;
}

.axis line {
    stroke: #000;
    shape-rendering: crispEdges;
}

.horizon {
    border-bottom: solid 1px #000;
    overflow: hidden;
    position: relative;
}

.horizon {
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
}

.horizon + .horizon {
    border-top: none;
}

.horizon canvas {
    /*padding: 0;
    margin: auto;*/
    display: block;
}

.horizon .title,
.horizon .value {
    bottom: 0;
    line-height: 30px;
    margin: 0 6px;
    position: absolute;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    white-space: nowrap;
}

.horizon .title {
    left: 0;
}

.horizon .value {
    right: 0;
}

.line {
    background: #000;
    opacity: .2;
    z-index: 2;
}


/* Alternative */
/*
.axis {
    font: 10px sans-serif;
    position: fixed;
    pointer-events: none;
    z-index: 2;
}

.axis text {
    -webkit-transition: fill-opacity 250ms linear;
}

.axis path {
    display: none;
}

.axis line {
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis.top {
    background-image: linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
    background-image: -o-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
    background-image: -moz-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
    background-image: -webkit-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
    background-image: -ms-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
    top: 0px;
    padding: 0 0 24px 0;
}

.axis.bottom {
    background-image: linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
    background-image: -o-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
    background-image: -moz-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
    background-image: -webkit-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
    background-image: -ms-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
    bottom: 0px;
    padding: 24px 0 0 0;
}

.horizon {
    border-bottom: solid 1px #000;
    overflow: hidden;
    position: relative;
}

.horizon {
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
}

.horizon + .horizon {
    border-top: none;
}

.horizon canvas {
    display: block;
}

.horizon .title,
.horizon .value {
    bottom: 0;
    line-height: 30px;
    margin: 0 6px;
    position: absolute;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    white-space: nowrap;
}

.horizon .title {
    left: 0;
}

.horizon .value {
    right: 0;
}

.line {
    background: #000;
    opacity: .2;
    z-index: 2;
}

@media all and (max-width: 1439px) {
    body { margin: 0px auto; }
    .axis { position: static; }
    .axis.top, .axis.bottom { padding: 0; }
}
*/

/* Chosen */

[class*="col-"] .chosen-container {
    width:100%!important;
}
[class*="col-"] .chosen-container .chosen-search input[type="text"] {
    padding: 4px 1%!important;
    width:98%!important;
    margin: 4px 1%;
}
[class*="col-"] .chosen-container .chosen-drop {
    width: 100%!important;
}

/* Info */
.sws-info-row{
    width:100%;
    display: table;
}
.sws-info-label{
    width:10%;
    font-size: 14px;
    display: table-cell;
    /*text-align: right;
    padding: 2px 12px 2px 2px; */
}
.sws-info-value{
    width:90%;
    font-weight: 600;
    font-size: 14px;
    display: table-cell;
}

